.navbar {
    height: 50px;
    position: relative;
    max-width: 2160px;
  }
  
  .navbar .baltic-shorts {
    font-family: "SchoolBook-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 9px;
    line-height: normal;
    position: absolute;
  }
  
  .navbar .text-wrapper {
    color: #000000;
    font-family: "SchoolBook-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 1260px;
    letter-spacing: 0.32px;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 13px;
    white-space: nowrap;
    min-width: 144px;
  }
  
  .navbar .overlap-group {
    position: absolute;
    top: 14px;
  }
  
  .navbar .mekl-t-instance {
    left: 0 !important;
    position: absolute !important;
    top: 1px !important;
  }
  
  .navbar .katalogs {
    font-family: "SchoolBook-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    min-width: 144px;
  }
  
  .navbar .div {
    font-family: "SchoolBook-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0.32px;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 144px;
  }
  
  .navbar .logo-long-wave-anim {
    height: 20px !important;
    left: 749px !important;
    position: absolute !important;
    top: 14px !important;
    width: 210px !important;
  }
  
  .navbar .overlap {
    height: 19px;
    left: 1143px;
    position: absolute;
    top: 14px;
    width: 262px;
  }
  
  .navbar .text-wrapper-2 {
    font-family: "SchoolBook-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 118px;
    letter-spacing: 0.32px;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    white-space: nowrap;
    width: 144px;
  }
  
  .navbar .EN-LV-LT-EE {
    font-family: "SchoolBook-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0.32px;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 0;
    white-space: nowrap;
    width: 144px;
  }
  
  .navbar .span {
    color: #fdfcf5b2;
  }
  
  .navbar .text-wrapper-3 {
    color: #fdfcf5;
  }
  
  .navbar .group {
    height: 36px;
    left: 755px;
    position: absolute;
    top: 5px;
    width: 198px;
  }
  
  .navbar.default {
    background-color: #000000;
  }
  
  .navbar.variant-3 {
    background-color: var(--beige);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #000000;
  }
  
  .navbar.variant-4 {
    background-color: var(--beige);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #000000;
  }
  
  .navbar.variant-2 {
    background-color: var(--beige);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #000000;
  }
  
  .navbar.default .baltic-shorts {
    color: #fdfcf5;
    left: 717px;
    top: 11px;
  }
  
  .navbar.variant-3 .baltic-shorts {
    color: #fdfcf5;
    left: 717px;
    top: 11px;
  }
  
  .navbar.variant-4 .baltic-shorts {
    color: #fdfcf5;
    left: 717px;
    top: 11px;
  }
  
  .navbar.variant-2 .baltic-shorts {
    color: #000000;
    left: 716px;
    top: 10px;
  }
  
  .navbar.default .overlap-group {
    height: 19px;
    left: 305px;
    width: 235px;
  }
  
  .navbar.variant-3 .overlap-group {
    height: 19px;
    left: 305px;
    width: 235px;
  }
  
  .navbar.variant-4 .overlap-group {
    height: 20px;
    left: 304px;
    width: 250px;
  }
  
  .navbar.variant-2 .overlap-group {
    height: 19px;
    left: 305px;
    width: 235px;
  }
  
  .navbar.default .katalogs {
    color: #fdfcf5b2;
    left: 0;
  }
  
  .navbar.variant-3 .katalogs {
    color: #000000;
    left: 0;
  }
  
  .navbar.variant-4 .katalogs {
    color: #000000;
    left: 106px;
  }
  
  .navbar.variant-2 .katalogs {
    color: #000000;
    left: 0;
  }
  
  .navbar.default .div {
    color: #fdfcf5b2;
  }
  
  .navbar.variant-3 .div {
    color: #000000;
  }
  
  .navbar.variant-4 .div {
    color: #000000;
  }
  
  .navbar.variant-2 .div {
    color: #000000;
  }
  
  .navbar.default .text-wrapper-2 {
    color: #fdfcf5b2;
  }
  
  .navbar.variant-3 .text-wrapper-2 {
    color: #fdfcf5b2;
  }
  
  .navbar.variant-4 .text-wrapper-2 {
    color: #fdfcf5b2;
  }
  
  .navbar.variant-2 .text-wrapper-2 {
    color: #000000;
  }
  
  .navbar.default .EN-LV-LT-EE {
    color: transparent;
  }
  
  .navbar.variant-3 .EN-LV-LT-EE {
    color: transparent;
  }
  
  .navbar.variant-4 .EN-LV-LT-EE {
    color: transparent;
  }
  
  .navbar.variant-2 .EN-LV-LT-EE {
    color: #000000;
  }
  